@import "../css/typography.css";

.header {
  width: 100%;
  height: 105vh;
  max-height: 60rem;
  background-color: #cad6e1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  letter-spacing: -1px;
  margin-bottom: 9rem;
}

.header_wrapper {
  width: 90%;
}

.header h2 {
  text-align: center;
  font-family: "SBK Regular", sans-serif;
  font-size: 3.8rem;
  line-height: 3.7rem;
  letter-spacing: -1.5px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header h2 span {
  display: block;
}

.header_content {
  text-align: center;
  font-size: 2.4rem;
  font-family: "SBK Light", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header_content div {
  margin-top: 3rem;
}

.header_content div p {
  line-height: 2.8rem;
}

.onlyMobileHeader {
  text-decoration: none;
  font-family: "BatonTurbo Medium", sans-serif;
  font-size: 1.6rem;
  letter-spacing: 0.4px;
  display: block;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  top: -2.8rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (min-width: 640px) {
  .header {
    height: 95vh;
    letter-spacing: -2px;
    max-height: none;
    /* min-height: 77.2rem;  */
  }

  .header_wrapper {
    width: 85%;
  }

  .header h2 {
    font-size: 4.5rem;
    line-height: 4.3rem;
  }

  .header_content {
    font-size: 3rem;
    margin: 0 1rem;
  }

  .header_content div {
    margin-top: 3rem;
  }

  .header_content div p {
    line-height: 3.3rem;
    letter-spacing: -1px;
  }

  .onlyMobileHeader {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  /* .header_wrapper {
    width: 70%;
  } */

  .header {
    margin-bottom: 16rem;
  }

  .header h2 {
    font-size: 5.8rem;
    line-height: 5.8rem;
  }

  .header_content {
    font-size: 3.6rem;
  }

  .header_content div {
    margin-top: 3rem;
  }

  .header_content div p {
    line-height: 4rem;
  }
}

@media screen and (min-width: 1400px) {
  .header {
    height: 92vh;
  }

  .header_wrapper {
    width: 75%;
  }

  .header h2 {
    font-size: 8.5rem;
    line-height: 7.8rem;
    letter-spacing: -4px;
  }

  .header_content {
    font-size: 4.6rem;
  }

  .header_content div p {
    line-height: 5.4rem;
    letter-spacing: -1.3px;
  }
}

@media screen and (max-height: 500px) and (orientation: landscape) {
  .header {
    height: 200vh;
  }

  .info {
    font-size: 3rem;
  }

  .info__block {
    margin-bottom: 1.5rem;
  }
}
