.header {
  width: 100%;
  height: 75vh;
  /* background-color: ; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  letter-spacing: -1px;
  margin-bottom: 9rem;
}

.header_wrapper {
  width: 85%;
}

.header h2 {
  text-align: center;
  font-family: "SBK Regular", sans-serif;
  font-size: 3.5rem;
  line-height: 3.78rem;
  font-weight: 400;
}

.header h2 span {
  display: block;
}

.header_content {
  text-align: center;
  font-size: 2.2rem;
  font-family: "SBK Light", sans-serif;
}

.header_content div {
  margin-top: 3rem;
}

.header_content div p {
  line-height: 2.5rem;
}

@media screen and (min-width: 600px) {
  .header {
    height: 100vh;
    letter-spacing: -2px;
  }

  .header_wrapper {
    width: 85%;
  }

  .header h2 {
    font-size: 5.6rem;
    line-height: 5.4rem;
  }

  .header_content {
    font-size: 3.2rem;
  }

  .header_content div {
    margin-top: 3rem;
  }

  .header_content div p {
    line-height: 4.2rem;
  }
}

@media screen and (min-width: 975px) {
  .header_wrapper {
    width: 70%;
  }

  .header h2 {
    font-size: 7.9rem;
    line-height: 9rem;
  }

  .header_content {
    font-size: 4.3rem;
  }

  .header_content div {
    margin-top: 5rem;
  }

  .header_content div p {
    line-height: 4.8rem;
  }
}

@media screen and (min-width: 1250px) {
  .header h2 {
    font-size: 8.5rem;
    line-height: 7.5rem;
  }

  .header_content {
    font-size: 5rem;
  }

  .header_content div p {
    line-height: 5.5rem;
  }
}
