.header {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 33rem;
  margin-bottom: 33rem;
  background-color: #f7a815;
}

.headerContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.info {
  color: white;
  font-size: 3.2rem;
  text-align: center;
  font-family: "SBK Regular", sans-serif;
  margin-bottom: 0rem;
  letter-spacing: -2px;
}

.info__block {
  margin-bottom: 2.5rem;
}

.info__block p {
  line-height: 3.8rem;
}

.info p span {
  display: block;
}

.lastinfo {
  letter-spacing: 0;
}

.lastinfo h5 {
  font-size: 2.4rem;
  line-height: 3.2rem;
}

.lastinfo p {
  font-size: 1.8rem;
  font-family: "SBK Light Italic", serif;
  line-height: 2rem;
}

.laureImg {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.con {
  height: 32vh;
  display: none;
}

.image {
  width: 100%;
  min-width: 270px;
  margin-top: 4rem;
}

@media screen and (min-width: 640px) {
  .header {
    height: 100vh;
    padding-top: 30rem;
    margin-bottom: 30rem;
  }

  .info {
    font-size: 4.2rem;
    margin-bottom: 3rem;
  }

  .lastinfo h5 {
    font-size: 2.4rem;
    line-height: 3.2rem;
  }

  .info__block {
    margin-bottom: 2.4rem;
  }

  .info__block p {
    line-height: 4.2rem;
  }

  .info p span {
    display: block;
  }

  .lastinfo p {
    line-height: 2.4rem;
    font-size: 1.8rem;
    letter-spacing: 0;
  }

  .laureImg {
    width: 40rem;
  }
}

@media screen and (min-width: 1080px) {
  .header {
    padding: 0;
    margin-bottom: 0;
  }

  .headerContainer {
    width: 100%;
    justify-content: center;
    flex-direction: row;
  }

  .info {
    font-size: 6rem;
    width: 47%;
    letter-spacing: 0;
  }

  .lastinfo h5 {
    font-size: 4rem;
    line-height: 4.8rem;
    font-weight: lighter;
  }

  .info__block {
    margin-bottom: 4rem;
  }

  .info__block p {
    line-height: 6.8rem;
  }

  .info p span {
    display: block;
  }

  .lastinfo p {
    line-height: 3.2rem;
    font-size: 3rem;
  }

  .con {
    display: block;
  }

  .laureImg {
    width: 48rem;
  }

  .image {
    margin-top: 0;
  }
}

@media screen and (min-width: 1800px) {
  .info {
    font-size: 9rem;
  }

  .info__block p {
    line-height: 10rem;
  }

  .lastinfo h5 {
    font-size: 4.1rem;
    line-height: 4.8rem;
    font-weight: lighter;
  }

  .lastinfo p {
    font-size: 3rem;
    line-height: 3.4rem;
  }

  .laureImg {
    width: 36%;
  }
}

@media screen and (min-height: 1500px) {
  .header {
    flex-direction: row;
    height: 80vh;
    margin-bottom: 50rem;
  }

  .info {
    font-size: 9rem;
  }

  .info__block p {
    line-height: 10rem;
  }

  .lastinfo h5 {
    font-size: 5rem;
    line-height: 5.5rem;
    font-weight: lighter;
  }

  .lastinfo p {
    font-size: 4rem;
    line-height: 4.5rem;
  }

  .con {
    height: 22vh;
  }

  .laureImg {
    width: 37.98%;
  }
}

@media screen and (max-height: 500px) and (orientation: landscape) {
  .header {
    height: 200vh;
    margin-bottom: 37rem;
  }

  .info {
    font-size: 3rem;
  }

  .info__block {
    margin-bottom: 1.5rem;
  }
}
