@import "../css/typography.css";

.header {
  height: 105vh;
  max-height: 60rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 22rem;
  margin-bottom: 25rem;
  background-color: #f7a815;
  background-repeat: no-repeat;
  background-size: cover;
}

.headerContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.info {
  color: white;
  font-size: 3.6rem;
  text-align: center;
  font-family: "SBK Regular", sans-serif;
  margin-bottom: 0rem;
  letter-spacing: -1px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.info__block {
  margin-bottom: 1.8rem;
}

.info__block p {
  line-height: 3.4rem;
  letter-spacing: -2px;
}

.info p span {
  display: block;
}

.lastinfo {
  letter-spacing: 0;
}

.lastinfo h5 {
  font-size: 2rem;
  line-height: 2rem;
}

.lastinfo p {
  font-size: 1.5rem;
  font-family: "SBK Light Italic", serif;
  line-height: 2rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.laureImg {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.con {
  height: 32vh;
  display: none;
}

.image {
  width: 100%;
  min-width: 270px;
  margin-top: 4rem;
}

.image img {
  width: 100%;
}

@media screen and (min-width: 640px) {
  .header {
    padding-top: 20rem;
    margin-bottom: 21.5rem;
    height: 80vh;
    max-height: none;
    min-height: 78rem;
  }

  .info {
    font-size: 3.8rem;
    margin-bottom: 1.5rem;
  }

  .info__block p {
    line-height: 3.4rem;
    letter-spacing: -2px;
    margin-bottom: 2.4rem;
  }

  .lastinfo h5 {
    font-size: 2.3rem;
    line-height: 1.6rem;
  }

  .info p span {
    display: block;
  }

  .lastinfo p {
    margin-top: 3px;
    font-size: 1.6rem;
    letter-spacing: 0;
  }

  .laureImg {
    width: 38rem;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    padding: 0;
    margin-bottom: 20rem;
    height: 100vh;
    min-height: 0;
  }

  .headerContainer {
    width: 100%;
    justify-content: center;
    flex-direction: row;
  }

  .info {
    font-size: 4.8rem;
    width: 47%;
  }

  .info__block {
    margin-bottom: 3rem;
  }

  .info__block p {
    line-height: 4.5rem;
  }

  .lastinfo h5 {
    font-size: 2.8rem;
    font-weight: lighter;
  }

  .info p span {
    display: block;
  }

  .lastinfo p {
    font-size: 2rem;
    margin-top: 8px;
  }

  .con {
    display: block;
  }

  .laureImg {
    width: 38rem;
  }

  .image {
    margin-top: 10rem;
  }
}

@media screen and (min-width: 1400px) {
  .header {
    padding: 0;
    margin-bottom: 0;
    height: 100vh;
  }

  .headerContainer {
    width: 100%;
    justify-content: center;
    flex-direction: row;
  }

  .info {
    font-size: 6.5rem;
    width: 47%;
    letter-spacing: -3.4px;
  }

  .info__block p {
    line-height: 6.5rem;
  }

  .lastinfo h5 {
    font-size: 4rem;
    line-height: 4.8rem;
    font-weight: lighter;
    letter-spacing: -1.6px;
  }

  .info__block {
    margin-bottom: 4rem;
  }

  .info p span {
    display: block;
  }

  .lastinfo p {
    line-height: 3.2rem;
    font-size: 2.8rem;
  }

  .con {
    display: block;
  }

  .laureImg {
    width: 48rem;
  }

  .image {
    margin-top: 0;
  }
}

@media screen and (min-width: 1800px) {
  .info {
    font-size: 9rem;
  }

  .info__block p {
    line-height: 10rem;
  }

  .lastinfo h5 {
    font-size: 4.1rem;
    line-height: 4.8rem;
    font-weight: lighter;
  }

  .lastinfo p {
    font-size: 3rem;
    line-height: 3.4rem;
  }

  .laureImg {
    width: 36%;
  }
}

@media screen and (min-height: 1500px) {
  .header {
    flex-direction: row;
    height: 80vh;
    margin-bottom: 50rem;
  }

  .info {
    font-size: 9rem;
  }

  .info__block p {
    line-height: 10rem;
  }

  .lastinfo h5 {
    font-size: 5rem;
    line-height: 5.5rem;
    font-weight: lighter;
  }

  .lastinfo p {
    font-size: 4rem;
    line-height: 4.5rem;
  }

  .con {
    height: 22vh;
  }

  .laureImg {
    width: 37.98%;
  }
}

@media screen and (max-height: 500px) and (orientation: landscape) {
  .header {
    height: 200vh;
    margin-bottom: 37rem;
  }

  .info {
    font-size: 3rem;
  }

  .info__block {
    margin-bottom: 1.5rem;
  }
}
