.link {
  text-decoration: none;
  color: #f29108;
  font-family: "BatonTurbo Medium", sans-serif;
  font-size: 1.8rem;
  display: block;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
}

@media screen and (min-width: 1080px) {
  .link {
    font-size: 3.2rem;
    letter-spacing: 0.6rem;
  }
}
