@import "../css/typography.css";

.Container {
  transition: top 0.5s;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.closed {
  top: -9rem;
}

.Navbar {
  /* height: 11rem; */
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
  padding: 2.5rem 0;
  width: 92.3%;
  background-color: #ffffff;
  /* max-width: 1800px; */
}

.Navbar h1 {
  font-family: "Tiempos Light", sans-serif;
  font-weight: lighter;
  font-size: 2.7rem;
  cursor: pointer;
}

.Navbar h1 span {
  font-family: "Tiempos Italic", sans-serif;
  font-weight: lighter;
}

.activeLang {
  font-family: "BatonTurbo Medium", sans-serif;
}

.activeNavLink {
  color: #6a6b6a;
}

.NavDesk ul {
  list-style: none;
  font-family: "Tiempos Light", sans-serif;
  font-weight: 300;
  font-size: 2.7rem;
}

.hide {
  display: none;
}

.NavDesk {
  display: none;
}

.NavMob {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.NavMob .icon {
  cursor: pointer;
}

.NavMob .icon:focus {
  outline: none;
}

.NavMob .icon div {
  width: 2.6rem;
  height: 1px;
  background-color: #1d1d1b;
  margin: 0.8rem;
}

.NavMob .crossIcon {
  height: 2.8rem;
}

.NavMob .crossIcon:focus {
  outline: none;
}

.crossIcon img {
  height: 100%;
  padding: 0.5rem;
}

.NavMobClose {
  margin-top: 7.5rem;
  position: fixed;
  z-index: 9999;
  background-color: white;
  width: 100%;
  height: calc(100vh - 7rem);
  top: 0;
  left: 0;
  border-top: 1px solid #dedfdf;
}

.NavMobClose .links {
  text-align: center;
}

.NavMobClose .links ul li {
  border-bottom: 1px solid #dedfdf;
  padding: 3.5rem;
  font-size: 2.4rem;
}

.NavMobClose p {
  font-size: 1.8rem;
  font-weight: 300;
  text-align: center;
  margin-top: 4rem;
}

.NavMobClose p span {
  margin: 2rem;
}

@media screen and (min-width: 640px) {
  .Navbar {
    padding: 2.7rem 0 1.8rem 0;
    width: 90%;
  }

  .NavMobClose {
    margin-top: 7.5rem;
    height: calc(100vh - 8rem);
  }
}

@media screen and (min-width: 1024px) {
  .Navbar {
    width: 96%;
  }

  .NavMob {
    display: none;
  }

  .NavMobClose {
    display: none;
  }

  .NavDesk {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .NavDesk .container {
    width: 49.9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .NavDesk .container h1,
  .NavDesk ul {
    font-size: 2.5rem;
  }

  .NavDesk p {
    font-size: 1.6rem;
    margin-bottom: 2rem;
    letter-spacing: 2px;
    font-family: "BatonTurbo Regular", sans-serif;
    font-weight: lighter;
  }

  .NavDesk .links {
    width: 50.1%;
    text-align: right;
  }

  .NavDesk .links li {
    display: inline-block;
    margin-left: 2rem;
  }
}

@media screen and (min-width: 1344px) and (min-height: 756px) {
  .Navbar {
    width: 92%;
  }

  .NavDesk .container h1,
  .NavDesk ul {
    font-size: 3.2rem;
  }

  .NavDesk .links li {
    margin-left: 1.6rem;
  }
}

@media screen and (max-height: 500px) and (orientation: landscape) {
  .NavMobClose {
    position: fixed;
    left: 0;
    height: 95vh;
    scroll-snap-stop: true;
  }

  .NavMobClose .links li {
    text-align: center;
    font-size: 2rem;
  }

  .NavMobClose .links ul li {
    border-bottom: 1px solid #dedfdf;
    width: 100vw;
    padding: 1.3rem;
  }

  .NavMobClose p {
    font-size: 1.4rem;
  }

  .NavMobClose p span {
    margin: 1rem;
  }
}
