@import "../css/typography.css";

.Navbar {
  /* height: 11rem; */
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
  padding: 3rem 0 2rem 0;
  position: fixed;
  z-index: 999;
  width: 92%;
  background-color: #ffffff;
  top: 0;
  /* max-width: 1800px; */
}

.Navbar h1 {
  font-family: "Tiempos Light", sans-serif;
  font-weight: lighter;
  font-size: 2.8rem;
  cursor: pointer;
}

.Navbar h1 span {
  font-family: "Tiempos Italic", sans-serif;
  font-weight: lighter;
}

.activeLang {
  font-family: "BatonTurbo Medium", sans-serif;
}

ul {
  list-style: none;
  font-family: "Tiempos Light", sans-serif;
  font-weight: 300;
  font-size: 2.8rem;
}

.hide {
  display: none;
}

.NavDesk {
  display: none;
}

.NavMob {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.NavMob .icon {
  cursor: pointer;
}

.NavMob .icon:focus {
  outline: none;
}

.NavMob .icon div {
  width: 2.6rem;
  height: 1px;
  background-color: #1d1d1b;
  margin: 0.8rem;
}

.NavMob .crossIcon {
  height: 2.8rem;
}

.NavMob .crossIcon:focus {
  outline: none;
}

.crossIcon img {
  height: 100%;
  padding: 0.5rem;
}

.NavMobClose {
  margin-top: 8rem;
  position: fixed;
  z-index: 9999;
  background-color: white;
  width: 100%;
  height: calc(100vh - 8rem);
  top: 0;
  left: 0;
  border-top: 1px solid #dedfdf;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.NavMobClose .links {
  text-align: center;
  font-size: 3rem;
}

.NavMobClose .links ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.NavMobClose .links ul li {
  border-bottom: 1px solid #dedfdf;
  width: 100vw;
  padding: 3.5rem;
}

.NavMobClose p {
  margin-bottom: 14%;
  font-size: 1.8rem;
  font-weight: 300;
}

.NavMobClose p span {
  margin: 2rem;
}

/* @media screen and (min-width: 640px) {
  .Navbar h1 {
    font-size: 2.5rem;
    cursor: pointer;
  }
} */

@media screen and (min-width: 1080px) {
  .NavMob {
    display: none;
  }

  .NavMobClose {
    display: none;
  }

  .NavDesk {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .NavDesk .container {
    width: 49.9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .NavDesk .container h1 {
    font-size: 3.7rem;
  }

  .NavDesk p {
    font-size: 1.8rem;
    margin-bottom: 2rem;
    letter-spacing: 2px;
    font-family: "BatonTurbo Regular", sans-serif;
    font-weight: lighter;
  }

  .NavDesk .links {
    width: 50.1%;
    text-align: right;
  }

  .NavDesk .links li {
    display: inline-block;
    margin-left: 2rem;
  }

  ul {
    font-size: 3.7rem;
  }
}

/* @media screen and (max-height: 500px) and (orientation: landscape) {
  .NavMobClose {
    height: 100%;
    position: absolute;
  }

  .NavMobClose p {
    margin: 3rem auto;
  }
} */
