@import "../css/typography.css";

.section {
  margin: 11.5rem auto;
  text-align: center;
}

.image {
  width: 90%;
  margin: 0 auto;
}

.section h4 {
  font-weight: normal;
  font-family: "SBK Light", sans-serif;
  font-size: 3rem;
  line-height: 3rem;
  width: 98%;
  margin: 1.8rem auto;
  letter-spacing: -1px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.section p {
  width: 85%;
  margin: 1.1rem auto;
  font-size: inherit;
  letter-spacing: inherit;
}

@media screen and (min-width: 640px) {
  .section {
    margin: 15rem auto;
    text-align: center;
  }

  .section h4 {
    font-size: 3.8rem;
    line-height: 1.4rem;
    margin: 3rem auto;
    letter-spacing: -2px;
  }

  .section p {
    font-size: inherit;
    width: 80%;
    margin-top: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .image {
    width: 55%;
  }

  .section h4 {
    font-size: 4.5rem;
    margin: 4rem auto;
  }

  .section p {
    width: 70%;
  }
}

@media screen and (min-width: 1400px) {
  .image {
    width: 45%;
  }

  .section h4 {
    font-size: 5.8rem;
    line-height: 5.8rem;
    margin: 4.8rem auto 0 auto;
  }

  .section p {
    font-size: inherit;
    width: 50%;
    margin: 4.5rem auto 3rem auto;
  }
}

@media screen and (max-height: 500px) and (orientation: landscape) {
  .image {
    width: 60%;
  }
}
