@import "../css/typography.css";

.section {
  margin: 9rem auto 8rem auto;
  text-align: center;
}

.image {
  width: 100%;
  margin: 0 auto;
}

.section h4 {
  font-weight: normal;
  font-family: "SBK Light", sans-serif;
  font-size: 1.9rem;
  line-height: 2.5rem;
  width: 98%;
  margin: 2rem auto 0rem auto;
  letter-spacing: -1px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.section p {
  font-family: "Tiempos Light", sans-serif;
  width: 90%;
  margin: 1.1rem auto;
  font-size: 1.4rem;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (min-width: 600px) {
  .section h4 {
    font-size: 2.8rem;
    line-height: 3.2rem;
    margin: 3rem auto;
    letter-spacing: -2px;
  }

  .section p {
    font-size: 1.6rem;
    width: 90%;
    margin-top: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .image {
    width: 63%;
  }

  .section h4 {
    margin: 4rem auto 2rem auto;
  }

  .section p {
    width: 70%;
  }
}

@media screen and (min-width: 1344px) and (min-height: 756px) {
  .image {
    width: 50%;
  }

  .section h4 {
    font-size: 3.2rem;
    margin: 4rem auto 2rem auto;
  }

  .section h4 span {
    display: block;
  }

  .section p {
    font-size: 1.6rem;
    width: 50%;
    margin-top: 2rem;
  }
}

@media screen and (min-width: 1400px) {
  .image {
    width: 45%;
  }

  .section h4 {
    font-size: 5.8rem;
    line-height: 5.8rem;
    margin: 4.8rem auto 0 auto;
  }

  .section p {
    font-size: 2.9rem;
    width: 50%;
    margin: 4.5rem auto 3rem auto;
    letter-spacing: 0.5px;
    line-height: 3.7rem;
  }
}

@media screen and (max-height: 500px) and (orientation: landscape) {
  .image {
    width: 60%;
  }
}
