@import "../css/typography.css";

.section {
  margin-top: 8rem;
  text-align: center;
}

.image {
  width: 100%;
  margin: 0 auto;
}

.section p {
  width: 88%;
  margin: 2rem auto;
  font-size: 1.55rem;
  font-weight: lighter;
}

.section h4 {
  font-weight: lighter;
  font-family: "SBK Light", sans-serif;
  font-size: 2.2rem;
  line-height: 2.5rem;
  width: 98%;
  margin: 0 auto;
  letter-spacing: -1px;
}

@media screen and (min-width: 640px) {
  .image {
    width: 90%;
  }

  .section p {
    font-size: 1.8rem;
    width: 84%;
  }

  .section h4 {
    font-size: 3.2rem;
    line-height: 3.8rem;
    margin: 3rem auto;
    letter-spacing: -2px;
  }
}

@media screen and (min-width: 1024px) {
  .image {
    width: 65%;
  }

  .section p {
    font-size: 1.9rem;
    width: 70%;
  }

  .section h4 {
    font-size: 3.2rem;
    line-height: 4rem;
    margin: 5rem auto;
    width: 62%;
  }
}

@media screen and (min-width: 1344px) and (min-height: 756px) {
  .section {
    margin-top: 9rem;
  }

  .image {
    width: 52%;
  }

  .section p {
    font-size: 2rem;
    width: 55%;
  }

  .section h4 {
    font-size: 3.7rem;
    line-height: 4.2rem;
    margin: 5rem auto;
    width: 45%;
  }
}

@media screen and (min-width: 1400px) {
  .image {
    width: 55%;
  }

  .section p {
    font-size: 2.5rem;
    width: 50%;
    margin: 5rem auto;
  }

  .section h4 {
    font-size: 4.8rem;
    line-height: 5.4rem;
    margin: 5rem auto;
    width: 55%;
  }
}
