@import "../css/typography.css";

.worksContainer {
  margin: 12rem auto 0rem auto;
  text-align: center;
}

.works {
  width: 95%;
  margin: 0 auto;
}

.works article {
  width: 100%;
  text-align: center;
  margin: 0 auto 3.5rem auto;
}

.works article:first-child {
  margin: 0 auto 5.5rem auto;
}

.works h2 {
  font-size: 2.2rem;
  font-weight: 300;
  line-height: 2.5rem;
  margin: 1.8rem auto 0.5rem auto;
  font-family: "SBK Light", sans-serif;
}

.works h2 span {
  display: block;
}

.works p {
  font-size: 1.4rem;
  text-align: center;
  font-family: "SBK Regular", sans-serif;
  width: 88%;
  margin: 0 auto;
  line-height: 1.9rem;
}

@media screen and (min-width: 640px) {
  .works article {
    margin-top: 10rem;
    width: 90%;
  }

  .works article div {
    margin: 0 auto;
    width: 100%;
  }

  .works h2 {
    font-size: 3rem;
    line-height: 3.8rem;
  }

  .works p {
    font-size: 1.6rem;
    width: 90%;
    margin-top: 1rem;
    line-height: 2.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .works article {
    margin-top: 10rem;
    width: 70%;
  }

  .works article div {
    margin: 0 auto;
    width: 90%;
  }

  .works h2 {
    font-size: 3rem;
    line-height: 3.8rem;
  }

  .works p {
    font-size: 1.6rem;
    width: 70%;
    margin-top: 1rem;
    line-height: 2.5rem;
  }
}

@media screen and (min-width: 1344px) and (min-height: 756px) {
  .works {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .works h2 {
    font-size: 3.7rem;
    line-height: 4.2rem;
  }

  .works p {
    font-size: 1.8rem;
    margin-top: 1.5rem;
    width: 85%;
  }

  .works p span {
    display: block;
  }

  .works article {
    width: 45%;
    margin: 0 auto 10rem auto;
  }
}

@media screen and (min-width: 1400px) {
  .works {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .works article div {
    margin: 0 auto;
    width: 100%;
  }

  .works h2 {
    font-size: 4.8rem;
    line-height: 5rem;
  }

  .works p {
    font-size: 2.2rem;
    line-height: 3.3rem;
    width: 80%;
    margin-top: 2rem;
  }

  .works article {
    width: 45%;
    margin: 0 auto 10rem auto;
  }
}
