@import "./typography.css";

.bioContent {
  text-align: center;
  width: 88%;
  margin: 0 auto;
}

.bioContent p {
  font-size: inherit;
  margin-top: 2rem;
  letter-spacing: inherit;
}

.info {
  letter-spacing: 2px;
}

.orange {
  color: #f29108;
}

.capitalize {
  text-transform: uppercase;
}

.link {
  text-decoration: none;
  color: #f29108;
  font-family: "BatonTurbo Regular", sans-serif;
  display: block;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  font-weight: bold;
  margin: 7rem auto;
  font-size: 1.6rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (min-width: 600px) {
  .bioContent p {
    font-size: inherit;
    margin-top: 3.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .bioContent {
    width: 68%;
    max-width: 720px;
  }

  .bioContent p {
    margin-top: 3.5rem;
  }

  .link {
    margin: 6rem auto 8rem auto;
  }
}

@media screen and (min-width: 1344px) and (min-height: 756px) {
  .bioContent {
    width: 68%;
    max-width: 720px;
  }

  .bioContent p {
    font-size: inherit;
    margin-top: 2.5rem;
  }

  .link {
    font-size: 2rem;
    margin: 6rem auto 10rem auto;
  }
}

@media screen and (min-width: 1400px) {
  .bioContent {
    width: 65%;
    max-width: 720px;
  }

  .bioContent p {
    margin: 3rem auto;
  }

  .link {
    font-size: 2.2rem;
    margin: 8rem auto 12rem auto;
    letter-spacing: 6px;
  }
}

@media screen and (min-width: 1800px) {
}
