@import "./typography.css";

.blueText {
  color: blue;
}

.article {
  font-family: "SBK Light", sans-serif;
  text-align: center;
  margin: 3rem auto;
  width: 93%;
  letter-spacing: -1px;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.article p {
  font-size: 2.4rem;
  line-height: 2.6rem;
}

.Manifesto span {
  display: block;
}

.italic {
  font-family: "SBK Light Italic", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.firstArticle {
  margin-top: 11.5rem;
}

.lastArticle {
  margin: 11.5rem auto;
}

@media screen and (min-width: 640px) {
  .article {
    margin: 3rem auto;
    letter-spacing: -2px;
    width: 80%;
  }

  .article p {
    font-size: 3rem;
    line-height: 3.3rem;
    letter-spacing: -1px;
  }

  .firstArticle {
    margin-top: 15rem;
  }

  .lastArticle {
    margin: 15rem auto 21rem auto;
  }
}

@media screen and (min-width: 1024px) {
  .article {
    margin: 5.5rem auto;
    letter-spacing: -1px;
    width: 80%;
  }

  .article p {
    font-size: 3.6rem;
    line-height: 4rem;
  }

  .lastArticle {
    margin: 15rem auto;
  }
}

@media screen and (min-width: 1400px) {
  .firstArticle {
    margin-top: 16rem;
  }

  .article {
    margin: 6rem auto;
    width: 65%;
  }

  .article p {
    font-size: 4.6rem;
    line-height: 5.4rem;
    letter-spacing: -1.3px;
  }

  .lastArticle {
    margin: 25rem auto 29rem auto;
  }
}
