@import "./typography.css";

.blueText {
  color: blue;
}

.article {
  font-family: "SBK Light", sans-serif;
  text-align: center;
  margin: 3rem auto;
  letter-spacing: -1px;
  font-weight: lighter;
}

.article p {
  font-size: 2.2rem;
  line-height: 2.5rem;
}

.section {
  margin: 9rem auto 8rem auto;
  text-align: center;
}

.section p {
  width: 85%;
  margin: 2rem auto;
  font-weight: lighter;
}

.section h4 {
  font-weight: lighter;
  font-family: "SBK Light", sans-serif;
  font-size: 2.3rem;
  line-height: 2.5rem;
  width: 98%;
  margin: 0 auto;
  letter-spacing: -1px;
}

.Manifesto span {
  display: block;
}

.italic {
  font-family: "SBK Light Italic", sans-serif;
}

.lastArticle {
  margin: 6rem auto 14.5rem auto;
}

@media screen and (min-width: 600px) {
  .article {
    margin: 3rem auto;
    letter-spacing: -2px;
  }

  .article p {
    font-size: 3.2rem;
    line-height: 3.8rem;
  }

  .lastArticle {
    margin: 9rem auto 21rem auto;
  }
}

@media screen and (min-width: 1024px) {
  .article {
    margin: 5.5rem auto;
    letter-spacing: -1px;
    width: 75%;
  }

  .article p {
    font-size: 3.2rem;
    line-height: 3.7rem;
  }
}

@media screen and (min-width: 1344px) and (min-height: 756px) {
  .article {
    margin: 5.5rem auto;
    letter-spacing: -1px;
    width: 52%;
  }

  .article p {
    font-size: 3.8rem;
    line-height: 4.5rem;
  }

  .lastArticle {
    margin: 14rem auto 30rem auto;
  }
}

@media screen and (min-width: 1400px) {
  .article {
    margin: 6rem auto;
    width: 65%;
  }

  .article p {
    font-size: 4.5rem;
    line-height: 5rem;
  }

  .lastArticle {
    margin: 12rem auto 29rem auto;
  }
}
