@font-face {
  font-family: "Tiempos Light";
  src: url("../fonts/TiemposHeadline-Light.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Tiempos Italic";
  src: url("../fonts/TiemposText-RegularItalic.woff2");
  font-display: swap;
}

@font-face {
  font-family: "SBK Regular";
  src: url("../fonts/SangBleuKingdom-Regular.woff2");
  font-display: swap;
}

@font-face {
  font-family: "SBK Light Italic";
  src: url("../fonts/SangBleuKingdom-LightItalic.woff2");
  font-display: swap;
}

@font-face {
  font-family: "SBK Light";
  src: url("../fonts/SangBleuKingdom-Light.woff2");
  font-display: swap;
}

@font-face {
  font-family: "BatonTurbo Regular";
  src: url("../fonts/BatonTurbo-Regular.woff2");
  font-display: swap;
}

@font-face {
  font-family: "BatonTurbo Medium";
  src: url("../fonts/BatonTurbo-Medium.woff2");
  font-display: swap;
}
